@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #fafafa;
}
a {
  font-size: 20px;
  color: #666;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.container .row {
  width: 100%;
}
#toast-container {
  position: absolute;
  top: 60px !important;
  right: 30px !important;
  left: auto !important;
}
.toast.red,
.toast.green {
  background: #c62828 !important;
  padding: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: 200;
}
.toast.green {
  background: #388e3c !important;
}
input[type="text"] {
  border: none ;
  border-bottom: 1px solid #666;
}
input[type="text"]:focus {
  border: none !important;
  border-bottom: 1px solid #666 !important;
  outline: 0 !important;
}

/* ========================================= NAVBAR COMPONENT ================================================= */
.navbar {
  border-bottom: 1px solid #ccc;
}
.navbar-collapse {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

a.brand-logo {
  font-family: "Grand Hotel", cursive;
  font-size: 30px;
}
ul.navbar-nav li.nav-item {
  margin-left: 15px;
}
/* ========================================= SIGNIN COMPONENT ================================================= */
.signin h1,
.signup h1 {
  font-family: "Grand Hotel", cursive;
}
.signin .card,
.signup .card {
  box-shadow: 0px 2px 10px #9e9c9c;
  padding: 30px 20px;
  margin: 20px 0px;
}
/* ========================================= PROFILE COMPONENT =============================================== */
.profile {
  margin-top: 30px;
  padding-bottom: 20px;
}
.row-profile {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.infoFollow {
  display: flex;
  margin-top: 15px;
}
.infoFollow h5 {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 300;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
img.item {
  width: 33%;
  margin-top: 20px;
}
/* ========================================= HOME COMPONENT =============================================== */
.home .card.home-card {
  border-radius: 0;
  margin: 15px 0px;
  padding: 20px;
}
.card-image img {
  width: 100%;
  margin-bottom: 10px;
}
.createPost .card {
  box-shadow: 0px 2px 10px #9e9c9c;
}
.home i.material-icons {
  cursor: pointer;
}